@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(17 24 39);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes fall {
	0% {
		transform: translateY(-10px) rotate(0deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(100vh) rotate(var(--rotate));
		opacity: 0;
	}
}

.snowflake {
	position: absolute;
	top: 0;
	font-size: 1.5rem;
	color: white;
	animation-name: fall;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes twinkle {
	0%,
	100% {
		opacity: 0.2;
		transform: scale(0.8);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
}

.string-light {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	animation-duration: 1.5s;
	animation-name: twinkle;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
